<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="36726GriffinFujioka.ChristmasCountdownad-supported" Publisher="CN=7A2280AF-F3B0-499B-A221-E1F53BF165FF" Version="1.0.0.1" />
  <Properties>
    <DisplayName>Christmas Countdown ad-supported</DisplayName>
    <PublisherDisplayName>Griffin Fujioka</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ChristmasCountdown_Ads.App">
      <VisualElements DisplayName="Christmas Countdown ad-supported" Logo="Assets\Christmas Countdown Logo Icon.png" SmallLogo="Assets\Christmas Countdown Small Logo.png" Description="ChristmasCountdown_Ads" ForegroundText="light" BackgroundColor="#B22222">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\Christmas Countdown Wide Logo.png" />
        <SplashScreen Image="Assets\Christmas Countdown Splash Screen.png" BackgroundColor="#B22222" />
      </VisualElements>
    </Application>
  </Applications>
</Package>