<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5470397b-9562-4caa-9acd-af7e7348047d" Publisher="CN=Griffin" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ChristmasCountdown_Ads</DisplayName>
    <PublisherDisplayName>Griffin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ChristmasCountdown_Ads.App">
      <VisualElements DisplayName="ChristmasCountdown_Ads" Logo="Assets\Christmas Countdown Logo Icon.png" SmallLogo="Assets\Christmas Countdown Small Logo.png" Description="ChristmasCountdown_Ads" ForegroundText="light" BackgroundColor="#B22222">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\Christmas Countdown Wide Logo.png" />
        <SplashScreen Image="Assets\Christmas Countdown Splash Screen.png" BackgroundColor="#B22222" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>